/* MIC BUTTON */
#microphone-button {
  background-color: transparent !important;
  border: 1px solid transparent;
  color: var(--color-text);
}

/* Only apply hover effects on devices that support hover */
@media (hover: hover) {
  #microphone-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform-origin: center;
  }
}

#microphone-button:active {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1);
  -webkit-transform: scale(1);
  transform-origin: center;
}

#microphone-button.recording {
  transition: color 0.3s ease;
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

.mic-pulse {
  animation: pulse 1.5s infinite;
}


.mic-inactive{
    color: var(--color-text);
}

.mic-activating{
    color: #c0c0c0;
    animation: pulse 0.8s infinite;
}

.mic-listening {
  color: #ff4136;
}

.mic-recording {
  color: #4caf50;
}

.mic-waiting {
  color: #008080;
}

.mic-processing {
  color: #00bcd4;
  animation: pulse 0.8s infinite;
  transform-origin: center;
}